<div>
	<a class="red backBtn" onclick="hideDetailDesc()"><i class="icon-03"></i>返回</a>
</div>
<div class="imgBlock2">
	<img src="test/8.jpg">
	<span class="numberBlock">现货</span>
</div>
<p class="clearfix">
	<a class="ui-btn1" style="font-size:12px;padding:0 5px">定制</a>&ensp;美亚家具饰品
	<a class="ui-btn4 f-right">QQ会话</a>
</p>
<p>&nbsp;饰品/东南亚风格</p>
<p>
	<i class="icon-07"></i>商家&ensp;
	<i class="icon-10"></i>10年&ensp;
	<i class="icon-09"></i>18812341234
</p>
<p>
	<i class="icon-06"></i>已认证/营业执照
</p>
<p>
	<i class="icon-08"></i>广东深圳宝安区
</p>