<div class="loginWrap3 dialog">
	<div>
		<i class="icon-02" onclick="hideDialog(this)"></i>
		<h2>想立即接单吗？</h2>
		<div class="solidline"></div>
		<span>完善商家资料就能开始接单</span>
		<div class="t-center">
			<p>
				<img src="test/avatar1.jpg">
				<img src="test/avatar2.jpg">
				<img src="test/avatar3.jpg">
				<img src="test/avatar4.jpg">
				&ensp;
				Amily,Jack等<span class="red">10</span>人发起了<span class="red">113</span>个找物单</p>
		</div>
		<div class="t-center">
			<a class="btn ui-btn2" onclick="hideDialog(this)">不用了</a>
			<a class="btn ui-btn1" style="width:200px">好，这就去填资料</a>
		</div>
	</div>
</div>