<div class="loginWrap2 dialog">
	<div>
		<i class="icon-02" onclick="hideDialog(this)"></i>
		<h2>我们，只差最后一步</h2>
		<div class="solidline"></div>
		<span>请确认您的用户信息(提交后无法修改)</span>
		<div class="t-center">
			<img class="avatar" src="test/avatar4.jpg"><p>泽Richard</p>
		</div>
		<div>
			<form>
				<table>
					<tr>
						<td class="t-right" width="100">*QQ号</td>
						<td class="t-left"><input type="text"></td></tr>
					<tr>
						<td class="t-right">*所在地</td>
						<td class="t-left">
							<div class="ui-select"><select></select></div>&ensp;
							<div class="ui-select"><select></select></div>
						</td>
					</tr>
					<tr>
						<td class="t-right">*身份</td>
						<td class="t-left">
							<ul class="clearfix">
								<li class="selected">设计师</li>
								<li>采购人员</li>
								<li>商家</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<a class="btn ui-btn1" onclick="showLogin3()">确定</a>
							<p>完成并提交用户信息即默认接受<span class="red">《用户协议》</span></p>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>