<div class="orderDetailWrap dialog">
	<div>
		<i class="icon-02" onclick="hideDialog(this)"></i>
		<div class="clearfix">
			<div class="f-left">
				<!-- <a class="ui-btn1 contactBtn">联系找货人</a> -->
				<a class="ui-btn1 closeBtn" onclick="showCloseConfirm()">关闭找货单</a>
				<div id="closeConfirm">
					<span class="arrow">
						<span class="triangle-up"></span>
						<span class="triangle-up"></span>
					</span>
					<h3>是否确定关闭该找货单？</h3>
					<div>
						<a>确定</a>
						<a onclick="hideCloseConfirm()">取消</a>
					</div>
				</div>
				<div class="clearfix linkman">
					<div class="f-left">
						<img src="test/avatar1.jpg">
					</div>
					<div>
						<p>
							<i class="yellow icon-06"></i>&ensp;<span class="black fs16">Amily</span>&ensp;
							<span>广东  深圳</span>
						</p>
						<p>1小时前发布</p>
					</div>
				</div>
				<div class="previewImg">
					<span class="numberBlock"></span>
					<img src="test/8.jpg" width="100%">
				</div>
				<p>想要这个一组的100X100X200cm，10套，最好</p>
			</div>
			<div class="f-right">
				<div id="list">
					<div class="red fs14">全部3人接单</div>
					<br>
					<ul>
						<li onclick="showDetailDesc(this)">
							<table>
								<tr>
									<td width="102">
										<div class="imgBlock">
											<img src="test/7.jpg">
											<span></span>
											<a>无图</a>
										</div>
									</td>
									<td>
										<div class="clearfix relative">
											<a class="ui-btn1">定制</a>美亚家具饰品
											<a class="ui-btn4 f-right" onmouseover="showTip(event)" onmouseleave="hideTip(event)">QQ会话</a>
											<div class="tooltip">
												<span class="arrow">
													<span class="triangle-up"></span>
													<span class="triangle-up"></span>
												</span>
												<h3 class="fs12">QQ 123456789</h3>
												<div class="gray fs12">联系时，请说是从“巢搭配”上看到的</div>
											</div>
										</div>
										<p style="margin:5px 0">饰品/东南亚风格</p>
										<p>
											<i class="icon-07"></i>工厂&ensp;
											<i class="icon-10"></i>10年&ensp;
											<i class="icon-08"></i>深圳 宝安区
										</p>
									</td>
								</tr>
							</table>
						</li>
						<li onclick="showDetailDesc(this)">
							<table>
								<tr>
									<td>
										<div class="imgBlock">
											<img src="test/8.jpg">
											<span></span>
											<a>参考图</a>
										</div>
									</td>
									<td>
										<div class="clearfix relative">
											<a class="ui-btn1">定制</a>美亚家具饰品
											<a class="ui-btn4 f-right" onmouseover="showTip(event)" onmouseleave="hideTip(event)">QQ会话</a>
											<div class="tooltip">
												<span class="arrow">
													<span class="triangle-up"></span>
													<span class="triangle-up"></span>
												</span>
												<h3 class="fs12">QQ 123456789</h3>
												<div class="gray fs12">联系时，请说是从“巢搭配”上看到的</div>
											</div>
										</div>
										<p style="margin:5px 0">饰品/东南亚风格</p>
										<p>
											<i class="icon-07"></i>工厂&ensp;
											<i class="icon-10"></i>10年&ensp;
											<i class="icon-08"></i>深圳 宝安区
										</p>
									</td>
								</tr>
							</table>
						</li>
						<li onclick="showDetailDesc(this)">
							<table>
								<tr>
									<td>
										<div class="imgBlock">
											<img src="test/7.jpg">
											<span></span>
											<a>现货实拍</a>
										</div>
									</td>
									<td>
										<div class="clearfix relative">
											<a class="ui-btn1">定制</a>美亚家具饰品
											<a class="ui-btn4 f-right" onmouseover="showTip(event)" onmouseleave="hideTip(event)">QQ会话</a>
											<div class="tooltip">
												<span class="arrow">
													<span class="triangle-up"></span>
													<span class="triangle-up"></span>
												</span>
												<h3 class="fs12">QQ 123456789</h3>
												<div class="gray fs12">联系时，请说是从“巢搭配”上看到的</div>
											</div>
										</div>
										<p style="margin:5px 0">饰品/东南亚风格</p>
										<p>
											<i class="icon-07"></i>工厂&ensp;
											<i class="icon-10"></i>10年&ensp;
											<i class="icon-08"></i>深圳 宝安区
										</p>
									</td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
				<div id="detailDesc">
					
				</div>
				
			</div>
		</div>
	</div>
</div>