<div class="takeOrderWrap dialog">
	<div>
		<i class="icon-02" onclick="hideDialog(this)"></i>
		<div class="clearfix">
			<div class="f-left">
				<div>
					<br>
					<div class="uploadBtn">
						<p><i class="icon-01"></i></p>
						<p><a><u>点击上传</u></a></p>
					</div>
					<ul class="clearfix">
						<li class="selected">现货实拍</li>
						<li>参考图</li>
					</ul>
					<p><i class="icon-04"></i>提供供货图片将使您的接单成功率大大提升</p>
				</div>
			</div>
			<div class="f-left" style="width:299px">
				<div>
					<br><br><br><br><br>
					<div class="clearfix">
						<div class="ui-check">
							<span class="checked" onclick="toggleCheck(this)">现货</span>
							<span onclick="toggleCheck(this)">订制</span>
						</div>
					</div>
					<p class="t-center">供货物品是现货还是需要定制</p>
					<div class="clearfix">
						<div class="ui-check">
							<span class="checked" onclick="toggleCheck(this)">公开</span>
							<span onclick="toggleCheck(this)">匿名</span>
						</div>
					</div>
					<p class="t-center">商家信息是否在找货单中公开显示</p>
					<a class="ui-btn1">确定接单</a>
				</div>
			</div>
		</div>
	</div>
</div>